.ac-mng-table {
    float: left;
    width: 200px;
    border: 1px solid #6596F8;
    height: 30px;
    margin:5px 10px 5px 10px;
    border-radius: 5px;
}
.ac-mng-name {
    line-height:30px;
    margin-left: 15px;
    width: 150px;
    overflow: hidden;
    text-overflow:ellipsis;
    float: left;
}

.ac-mng-name + a {
    font-weight: bold;
    padding-left:15px;
    line-height:30px;
    text-decoration: none;
    cursor: pointer;
}