<style>
    .ac-operation {
        margin-bottom: 20px;
    }
    .ac-list tr{
        color: gray;
        font-weight: lighter;
        text-align: center;
    }
    .ac-delete {
        border: none;
        color: red;
        background-color: white;
    }
    .ac-table-content {
        text-align: center;
    }

    #ac-addPolicyName{
        width:300px;
        margin-left: 30px;
    }
    .ac-p {
        margin-left:20px;
    }

    .error-message {
        color: red;
        margin-left:30px;
    }
</style>
<div style="margin-top: 20px; margin-left: 20px;">
    <div class="ac-operation">
        <form role="search">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="请输入查询内容" id="ac-attrKeyValue" style=" width: 200px;float: left;margin-right: 15px; margin-left: 20px;">
            </div>
            <button type="submit" class="btn btn-sm btn-info" ng-click="searchAttr()" style="margin-right: 10px">查询</button>
            <a class="btn btn-warning btn-sm" data-toggle="modal" data-target="#addAttr">新增</a>
        </form>
    </div>
    <!-- Attribute List Modal -->
    <div class="modal fade" id="addAttr" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content" style="width: 400px; margin-top: 100px">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 ng-if="isAddState == true" class="modal-title" style="text-align: center">添加策略</h4>
                    <h4 ng-if="isAddState == false" class="modal-title" style="text-align: center">修改策略</h4>
                </div>
                <div class="modal-body">
                    <p class="ac-p">策略名：*</p>
                    <input type="text" id="ac-addPolicyName" placeholder="请输入策略名"/>
                    <p></p>
                    <p class="ac-p" style="color: red;">注：以下属性请至少选填一项</p>
                    <span class="ac-p">请选择用户角色：</span>
                    <select id="ac-attr-role">
                        <option value="all" selected></option>
                        <option value="tenant">租户</option>
                        <option value="leader">领导</option>
                        <option value="admin">管理员</option>
                    </select>
                    <p></p>
                    <span class="ac-p">请选择用户等级：</span>
                    <select id="ac-attr-low">
                        <option value="0" selected></option>
                        <option value="1">1级</option>
                        <option value="2">2级</option>
                        <option value="3">3级</option>
                        <option value="4">4级</option>
                        <option value="5">5级</option>
                        <option value="6">6级</option>
                    </select>
                    <span>&nbsp;&nbsp;~&nbsp;&nbsp;</span>
                    <select id="ac-attr-high">
                        <option value="0" selected></option>
                        <option value="1">1级</option>
                        <option value="2">2级</option>
                        <option value="3">3级</option>
                        <option value="4">4级</option>
                        <option value="5">5级</option>
                        <option value="6">6级</option>
                    </select>
                    <p></p>
                    <span class="ac-p">请输入用户分组：</span>
                    <input type="text" placeholder="请精确输入组名" id="ac-group-name">
                    <p></p>
                    <span class="ac-p">请选择访问时间：</span>
                    <input type="time" name="startTime">
                    <span>&nbsp;~&nbsp;</span>
                    <input type="time" name="endTime">
                    <div id="add-attr-error0" class="error-message"></div>
                </div>
                <div class="modal-footer">
                    <a ng-if="isAddState == true" class="btn btn-warning btn-sm" data-toggle="modal" ng-click="addAttr()">新增</a>
                    <a ng-if="isAddState == false" class="btn btn-warning btn-sm" data-toggle="modal" ng-click="addAttr()">修改</a>
                    <button type="button" class="btn btn-sm btn-info" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
    </div>
    <span style="color: gray; font-size: 1.1em; margin-left: 20px;">*满足以下策略的用户将被允许访问目标数据</span>
    <table class="table" style="width: 80%; margin-left:20px; margin-top: 10px;">
        <thead class="ac-list">
        <tr>
            <th>策略ID</th>
            <th>策略名</th>
            <th>描述</th>
            <th class="ac-table-content">操作</th>
        </tr>
        </thead>
        <tbody class="ac-list">
        <tr ng-repeat="item in ruleList">
            <th>{{item.id}}</th>
            <th>{{item.name}}</th>
            <th style="width: 500px;">{{item.desc}}</th>
            <th class="ac-table-content">
                <button class="ac-delete"><span class="glyphicon glyphicon-cog" ng-click="changeAttr(item.id)"></span></button>
                <button class="ac-delete"><span class="glyphicon glyphicon-trash" ng-click="deleteAttr(item.id)"></span></button>
            </th>
        </tr>
        </tbody>
    </table>
</div>